<a href="https://colab.research.google.com/github/godolias15/Data_Sceince/blob/main/First%20Assignment%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a dictionary is unordered collection of key value pairs, keys must be unique(eg. strings, numbers), and they're accessed by key not index. use case is sorting properties(eg. user profile)

In [ ]:
#this is an example of dictionary
person = {"name" : "abebe", "age" : "19", "city": "adama"}
pritn(person["city"]) #output adama

List is ordered mutable changable collection of items , can hold mixed data type(numbers strings) its accessed by index.and an example use case is sorting a sequece of items(eg todo list)

In [ ]:
#this is an example of a list
fruits = ["banana", "apple", 42, True]
print[fruits[1]] #output banana

a numpy array has a fixed size, its homogeneous(same data type) array for numerical computing , its optimized for math operations(eg matrix). and requires numpy library.

In [ ]:
import numpy as np
numbers = np.array([1, 2, 3, 4])  # All elements must be same type (e.g., int)
print(numbers * 2)  # Output: [2 4 6 8] (vectorized operation)

2.Given the list [10, 15, 20, 25, 30], write a function that returns the square of only even numbers

In [ ]:
def square(numbers):
  return[x**2 for x in number if x%2 == 0]


#example use
numbers = [10,15,20,25,30]
result = square(numbers)
print(result) #output [100, 400 , 900]

3.What does the following code output, and why?![Screenshot 2025-04-12 230810.png]()

the code outputs [1,2,3,4}
y=x dosnt create a copy, both x and y reference the same list object in memory.  and y.append(4) modifies this shared list. print(x) shows the updated list because x and y are aliases for the same object.

4. What does .shape and .describe() tell you about a pandas DataFrame? Show using an example.

.shape returns a tuple showing the dimensions of the Data frame(rows,columns). use case is to quicly check how much data you're working with.

while .describe generates descriptive stastics for numeric columns. count mean, standard deviation, min, max, quartiles(25%, 50%, 75%). use case is to summerize data distribution. i dont have experince with panda but i did my research on the internet and i've come with the next code as an example.

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}
df = pd.DataFrame(data)

# Check dimensions
print("Shape:", df.shape)  # Output: (5, 2) → 5 rows, 2 columns

# Generate statistics
print("\nDescriptive Statistics:")
print(df.describe())

#output
'''
Shape: (5, 2)

Descriptive Statistics:
             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388300
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000
'''

5. Load this CSV: airtravel.csv
Print the first 5 rows
What do you notice about the data?

In [ ]:
import pandas as pd

# Load the CSV data
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df = pd.read_csv(url)

# Print first 5 rows
print("First 5 rows:")
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

#output
'''
First 5 rows:
| Month   | 1958   | 1959   | 1960   |
|:--------|:-------|:-------|:-------|
| JAN     | 340    | 360    | 417    |
| FEB     | 318    | 342    | 391    |
| MAR     | 362    | 406    | 419    |
| APR     | 348    | 396    | 461    |
| MAY     | 363    | 420    | 472    |

the first thing i noticed was the column formatting, column headers are wrappe in quotes. monthly data shows airtravel stastics for each month january to december.
Seasonal Pattern: Lower numbers in winter (e.g., FEB 1958: 318), higher in summer

Yearly Growth: Values increase year-over-year (e.g., MAY: 363 to 420 to 472)

 No missing values in first 5 rows,

 Wide format with years as columns rather than rows

.6.Load the CSV from Q5 and find:
  The month with the highest total passengers
  The month with the lowest in 1958

In [ ]:
import pandas as pd

# Load and clean the data
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df = pd.read_csv(url)
df.columns = df.columns.str.replace('"', '').str.strip()  # Clean column names

df['Total'] = df['1958'] + df['1959'] + df['1960']


max_total_month = df.loc[df['Total'].idxmax(), 'Month']


min_1958_month = df.loc[df['1958'].idxmin(), 'Month']

print(f"Month with highest total passengers: {max_total_month}")
print(f"Month with lowest passengers in 1958: {min_1958_month}")

#output
'''
Month with highest total passengers: JUL
Month with lowest passengers in 1958: FEB
'''

Month with Highest Total Passengers is  july

Total passengers (1958–1960): 505 (1960) + 491 (1959) + 460 (1958) = 1,456

 Summer months (july/augest) consistently have the highest travel volume.

Month with Lowest Passengers in 1958 is february

Passengers were  318

the reason was because February typically has fewer travelers due to weather and shorter days.

7.  What does the .groupby() function do in pandas? Show an example using dummy data.

.groupby() is used to split data into groups based on a specific column, allowing you to prefrom aggregations(eg. sum, mean , count) on each group.
key steps include:
split: the data is divided into groups
apply: a function(sum(), mean()) is applied to each group.
combine: results are merged into a new dataFrame. an example is presented as follows:

In [ ]:
import pandas as pd

# Create dummy sales data
data = {
    'Region': ['East', 'West', 'East', 'West', 'East', 'West'],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics', 'Clothing'],
    'Sales': [1000, 500, 1500, 700, 1200, 600]
}
df = pd.DataFrame(data)

# Group by 'Region' and calculate total sales per region
grouped = df.groupby('Region')['Sales'].sum()
print("Total sales by region:")
print(grouped)


#output
'''
Total sales by region:
Region
East    3700
West    1800
Name: Sales, dtype: int64
'''

8. Load the Titanic dataset from seaborn and:

  Count how many missing values are in each column

In [ ]:
import seaborn as sns

# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Count missing values per column
missing_values = titanic.isnull().sum()

print("Missing values per column:")
print(missing_values)

#output
'''
Missing values per column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
'''

age has 177 missing values,
deck has 688 missing values,
embarked and embark_town each have 2 missing values.
all other columns are complete.

9.  Use df["Age"].hist() to visualize the age distribution.
What shape do you see

What might be the reason for the skew?

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset
titanic = sns.load_dataset('titanic')

# Plot histogram of 'Age'
titanic['Age'].hist(bins=20, edgecolor='black')
plt.title('Age Distribution of Titanic Passengers')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

observed shape is a right skewed distribution. most passengers are concentrated in the 20-40 age range. fewer passengers in old age groups(tail extends to the right)

what might be the reason for the skew:
demographic travelers. the titanic carrie many working-age adults(immigrants, laborers and middle class travelers)
few elderly passengers due to travel limitations in 1912.

and the other reason is data collection issues. missing age values(177/891) could distort the distribution.

10. What does it mean if a column has a high standard deviation?

  Create a list or column that has a low and a high std. dev, and compare.

A high standard deviation indicates that the data points in a column are spread out widely from the mean (average). This means there is significant variability or diversity in the values. Conversely, a low standard deviation means the data points are clustered closely around the mean.

1. Column with Low Standard Deviation

In [ ]:
import pandas as pd

# Data with values close to the mean (little variability)
low_std_data = [9, 10, 11, 10, 9]
low_std_series = pd.Series(low_std_data)

print("Low Std. Dev. Data:", low_std_series.tolist())
print("Mean:", low_std_series.mean())       # Output: 9.8
print("Std. Dev:", low_std_series.std())    # Output: ~0.84

2. Column with High Standard Deviation

In [ ]:
# Data with values spread far from the mean (high variability)
high_std_data = [1, 50, 100, 50, 1]
high_std_series = pd.Series(high_std_data)

print("\nHigh Std. Dev. Data:", high_std_series.tolist())
print("Mean:", high_std_series.mean())      # Output: 40.4
print("Std. Dev:", high_std_series.std())   # Output: ~41.36

11.What are some real-world problems where missing data might affect results? Give 2 examples.

1.Healthcare: Clinical Trials

 Missing data from patient dropouts or unreported side effects in clinical trials.

whats the impact?

Bias in Results: If patients experiencing adverse effects leave the trial and their data is excluded, the drug’s safety profile appears better than it truly is.

Example: A trial for a new antidepressant excludes data from participants who discontinued due to severe nausea. This omission could lead regulators to underestimate risks, potentially endangering future patients.


2.Finance: Credit Scoring

 Missing credit history data (e.g., unreported loans, gaps in repayment records).

what's the impact?

Inaccurate Risk Assessment: Credit models might misclassify borrowers, approving high-risk individuals or denying creditworthy applicants.

Example: A lender uses incomplete data to deny a loan to someone with sporadic credit activity (e.g., freelancers), despite their reliable income, perpetuating financial exclusion.